<div class="patient_container">

    <header (click)="OnClick()">
        <span>Patient Info</span>
        <span class="hamburger">&#9776;</span>
    </header>

    <!----------------------------->

    <div *ngIf="open == false" class="cardback" (click)="OnClick()">
        <h6>A1C: {{this.sharedBin.a1c}}%</h6>
        <h6>Newly Diagnosed: 
            <span *ngIf="this.sharedBin.newly_diagnosed === true">Yes</span>
            <span *ngIf="this.sharedBin.newly_diagnosed === false">No</span>
        </h6>
        <h6>Has Symptoms: 
            <span *ngIf="this.sharedBin.have_symptoms === true">Yes</span>
            <span *ngIf="this.sharedBin.have_symptoms === false">No</span>
        </h6>
        <h6>Weight: {{this.sharedBin.weight_kg}} kg, {{this.sharedBin.weight_lb}} lb</h6>
        <h6>Current Insulin: {{this.sharedBin.insulin_current}}</h6>
        <h6>Cholesterol: {{this.sharedBin.cholesterol}}</h6>
        <h6>Past Heart Attack: 
            <span *ngIf="this.sharedBin.heart_attack === true">Yes</span>
            <span *ngIf="this.sharedBin.heart_attack === false">No</span>
        </h6>
        <h6>EF: {{this.sharedBin.EF}}</h6>
        <h6>Microalbuminuria: {{this.sharedBin.micro_album}}</h6>
        <h6>Creatinine: {{this.sharedBin.creatinine}}</h6>
        <h6>Blood Pressure: {{this.sharedBin.blood_pressure_syst}}/{{this.sharedBin.blood_pressure_dias}}</h6>
        <h6>eGFR: {{this.sharedBin.eGFR}}</h6>
    </div>

    <!----------------------------->

    <div *ngIf="open == true" class="cardback">

        <!--A1C-->
        <div class="patient_row">
            <div class="patient_col_a">
                <p>A1C:</p>
            </div>
            <div class="patient_col_b">
                <input [(ngModel)]="this.sharedBin.a1c" class="form-control" placeholder="---">
            </div>
            <div class="patient_col_c">
                <p>%</p>
            </div>
            <div class="patient_col_d">
                <div class="slider_container">
                    <input [(ngModel)]="this.sharedBin.a1c" 
                    type="range" min="5" max="12" value="50" class="slider" step="0.1">
                </div>
            </div>
        </div>

        <!--New Patient-->
        <div class="patient_row">
            <div class="patient_col_a">
                <p>New Patient:</p>
            </div>
            <div class="patient_col_b">
                <label class="switch_container">
                    <input type="checkbox" [(ngModel)]="this.sharedBin.newly_diagnosed" class="form-control">
                    <span class="switch round"></span>
                </label>
            </div>
            <div class="patient_col_c"></div>
            <div class="patient_col_d">
                <span *ngIf="this.sharedBin.newly_diagnosed === true">Yes</span>
                <span *ngIf="this.sharedBin.newly_diagnosed === false">No</span>
            </div>
        </div>

        <!--Symptoms-->
        <div class="patient_row">
            <div class="patient_col_a">
                <p>Showing Symptoms:</p>
            </div>
            <div class="patient_col_b">
                <label class="switch_container">
                    <input type="checkbox" [(ngModel)]="this.sharedBin.have_symptoms" class="form-control">
                    <span class="switch round"></span>
                </label>
            </div>
            <div class="patient_col_c"></div>
            <div class="patient_col_d">
                <span *ngIf="this.sharedBin.have_symptoms === true">Yes</span>
                <span *ngIf="this.sharedBin.have_symptoms === false">No</span>
            </div>
        </div>

        <!--Weight-->
        <div class="patient_row">
            <div class="patient_col_a">
                <p>Weight:</p>
            </div>
            <div class="patient_col_b">
                <input [(ngModel)]="this.sharedBin.weight_kg" class="form-control" placeholder="---">
            </div>
            <div class="patient_col_c">
                <p>kg</p>
            </div>
            <div class="patient_col_d">
                <div class="slider_container">
                    <input [(ngModel)]="this.sharedBin.weight_kg" 
                    type="range" min="2" max="182" value="50" class="slider" step="0.1">
                </div>
            </div>
        </div>

        <div class="patient_row">
            <div class="patient_col_a"></div>
            <div class="patient_col_b">
                <input [(ngModel)]="this.sharedBin.weight_lb" class="form-control" placeholder="---">
            </div>
            <div class="patient_col_c">
                <p>lb</p>
            </div>
            <div class="patient_col_d">
                <div class="slider_container">
                    <input [(ngModel)]="this.sharedBin.weight_lb" 
                    type="range" min="5" max="400" value="50" class="slider" step="1">
                </div>
            </div>
        </div>
            
        <!--Insulin-->
        <div class="patient_row">
            <div class="patient_col_a">
                <p>Current Insulin:</p>
            </div>
            <div class="patient_col_b">
                <input [(ngModel)]="this.sharedBin.insulin_current" class="form-control" placeholder="---">
            </div>
            <div class="patient_col_c">
                <p>??</p>
            </div>
            <div class="patient_col_d">
                <div class="slider_container">
                    <input [(ngModel)]="this.sharedBin.insulin_current" 
                    type="range" min="5" max="12" value="50" class="slider" step="0.1">
                </div>
            </div>
        </div>

        <!--Cholesterol-->
        <div class="patient_row">
            <div class="patient_col_a">
                <p>Cholesterol:</p>
            </div>
            <div class="patient_col_b">
                <input [(ngModel)]="this.sharedBin.cholesterol" class="form-control" placeholder="---">
            </div>
            <div class="patient_col_c">
                <p>mg/mL</p>
            </div>
            <div class="patient_col_d">
                <div class="slider_container">
                    <input [(ngModel)]="this.sharedBin.cholesterol" 
                    type="range" min="5" max="12" value="50" class="slider" step="0.1">
                </div>
            </div>
        </div>

        <!--Heart Attack-->
        <div class="patient_row">
            <div class="patient_col_a">
                <p>Past Heart Attack:</p>
            </div>
            <div class="patient_col_b">
                <label class="switch_container">
                    <input type="checkbox" [(ngModel)]="this.sharedBin.heart_attack" class="form-control">
                    <span class="switch round"></span>
                </label>
            </div>
            <div class="patient_col_c"></div>
            <div class="patient_col_d">
                <span *ngIf="this.sharedBin.heart_attack === true">Yes</span>
                <span *ngIf="this.sharedBin.heart_attack === false">No</span>
            </div>
        </div>

        <!--EF-->
        <div class="patient_row">
            <div class="patient_col_a">
                <p>EF:</p>
            </div>
            <div class="patient_col_b">
                <input [(ngModel)]="this.sharedBin.EF" class="form-control" placeholder="---">
            </div>
            <div class="patient_col_c">
                <p>??</p>
            </div>
            <div class="patient_col_d">
                <div class="slider_container">
                    <input [(ngModel)]="this.sharedBin.EF" 
                    type="range" min="5" max="12" value="50" class="slider" step="0.1">
                </div>
            </div>
        </div>

        <!--Micro Album-->
        <div class="patient_row">
            <div class="patient_col_a">
                <p>Microalbuminuria:</p>
            </div>
            <div class="patient_col_b">
                <input [(ngModel)]="this.sharedBin.micro_album" class="form-control" placeholder="---">
            </div>
            <div class="patient_col_c">
                <p>mg/g</p>
            </div>
            <div class="patient_col_d">
                <div class="slider_container">
                    <input [(ngModel)]="this.sharedBin.micro_album" 
                    type="range" min="5" max="12" value="50" class="slider" step="0.1">
                </div>
            </div>
        </div>

        <!--Creatinine-->
        <div class="patient_row">
            <div class="patient_col_a">
                <p>Creatinine:</p>
            </div>
            <div class="patient_col_b">
                <input [(ngModel)]="this.sharedBin.creatinine" class="form-control" placeholder="---">
            </div>
            <div class="patient_col_c">
                <p>mg/mL</p>
            </div>
            <div class="patient_col_d">
                <div class="slider_container">
                    <input [(ngModel)]="this.sharedBin.creatinine" 
                    type="range" min="5" max="12" value="50" class="slider" step="0.1">
                </div>
            </div>
        </div>

        <!--Blood Pressure-->
        <div class="patient_row">
            <div class="patient_col_a">
                <p>Blood Pressure:</p>
            </div>
            <div class="patient_col_b"></div>
            <div class="patient_col_c"></div>
            <div class="patient_col_d">{{this.sharedBin.blood_pressure_syst}}/{{this.sharedBin.blood_pressure_dias}}</div>
        </div>

        <div class="patient_row">
            <div class="patient_col_a">
                <p class="sub_offset">-Systolic:</p>
            </div>
            <div class="patient_col_b">
                <input [(ngModel)]="this.sharedBin.blood_pressure_syst" class="form-control" placeholder="---">
            </div>
            <div class="patient_col_c">
                <p>mmHg</p>
            </div>
            <div class="patient_col_d">
                <div class="slider_container">
                    <input [(ngModel)]="this.sharedBin.blood_pressure_syst" 
                    type="range" min="90" max="250" value="50" class="slider" step="10">
                </div>
            </div>
        </div>

        <div class="patient_row">
            <div class="patient_col_a">
                <p class="sub_offset">-Diastolic:</p>
            </div>
            <div class="patient_col_b">
                <input [(ngModel)]="this.sharedBin.blood_pressure_dias" class="form-control" placeholder="---">
            </div>
            <div class="patient_col_c">
                <p>mmHg</p>
            </div>
            <div class="patient_col_d">
                <div class="slider_container">
                    <input [(ngModel)]="this.sharedBin.blood_pressure_dias" 
                    type="range" min="60" max="140" value="50" class="slider" step="10">
                </div>
            </div>
        </div>

        <!--eGFR-->
        <div class="patient_row">
            <div class="patient_col_a">
                <p>eGFR:</p>
            </div>
            <div class="patient_col_b">
                <input [(ngModel)]="this.sharedBin.eGFR" class="form-control" placeholder="---">
            </div>
            <div class="patient_col_c">
                <p>mL/min</p>
            </div>
            <div class="patient_col_d">
                <div class="slider_container">
                    <input [(ngModel)]="this.sharedBin.eGFR" 
                    type="range" min="5" max="12" value="50" class="slider" step="0.1">
                </div>
            </div>
        </div>

    
    </div>

</div>




