<div [ngClass]="{'active':active === true}" 
    class="therapy_container">
    <header (click)="OnClick()">
        <span>Mono Therapy</span>
        <span class="triangle">&#9660;</span>
    </header>

    <div *ngIf="open === true" class="cardback">

        <app-lifestyle [active] = "active"></app-lifestyle>
        <app-metformin [active] = "active"></app-metformin> 
        <div class="division">~~~~</div>

        <p>Initiate metformin therapy if no contradictions</p>
        
    </div>
</div>