<div [ngClass]="{'active':active === true}" 
    class="therapy_container">
    <header (click)="OnClick()">
        <span>First Line Therapy</span>
        <span class="hamburger">&#9776;</span>
    </header>

    <div *ngIf="open === true" class="cardback">

        <app-lifestyle [active] = "active" [diagnosis] = "diagnosis"></app-lifestyle>
        <app-metformin [active] = "active" [diagnosis] = "diagnosis"></app-metformin> 
        <div class="division">~~~~</div>
        
    </div>
</div>