

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: top;
    /* outline: 1px dotted red; */
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.container {
    width: 100%;
    min-height: 800px;
    margin: 0px auto;
    padding: 5%;
    font-size: 15px;
    background-color: rgb(160, 163, 154);
}










@media only screen and (max-width: 480px) {

 
    
}
    
@media only screen and (min-width: 481px) {



}
    
@media only screen and (min-width: 1024px) {



}