 <!-- These values are taken from the Shared Bin Service and inputted into
    the Doctors Office, a component that houses all of the project. 
    
    The Inputs are hooked up directly to the Shared Bin Service.  When those
    values are changed, it will trigger these to change, which will trigger ngOnChanges
    to trigger within the Doctors Office TS.  The main diagnosis logic, housed with the
    Doctors Office TS, will make the diagnosis and send the diagnosis down to the
    components that need it.

    Every input change thus changes the diagnosis-->


<app-doctors-office 

    [newly_diagnosed]="this.sharedBin.newly_diagnosed"
    [have_symptoms]="this.sharedBin.have_symptoms"

    [a1c]="this.sharedBin.a1c"
    [weight_lb]="this.sharedBin.weight_lb"
    [weight_kg]="this.sharedBin.weight_kg"
    [insulin_current]="this.sharedBin.insulin_current"

    [cholesterol]="this.sharedBin.cholesterol"
    [heart_attack]="this.sharedBin.heart_attack"
    [EF]="this.sharedBin.EF"

    [micro_album]="this.sharedBin.micro_album"
    [creatinine]="this.sharedBin.creatinine"
    [blood_pressure_syst]="this.sharedBin.blood_pressure_syst"
    [blood_pressure_dias]="this.sharedBin.blood_pressure_dias"
    [eGFR]="this.sharedBin.eGFR">

</app-doctors-office>

