
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: top;
    /* outline: 1px dotted red; */
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.container {
    width: 100%;
    min-height: 800px;
    margin: 0px auto;
    padding: 2%;
    font-size: 15px;
    background-color: rgb(160, 163, 154);
}

/* ------------------------------*/

.patient_container {
    margin: 0px auto;
    display: block;
    padding: 5px;
    width: 100%;
    position: relative;
}

.therapy_container {
    margin: 0px auto;
    display: block;
    width: 90%;
    padding: 5px;
    /* outline: 1px dashed blue; */
}

.container div {
    text-align: center;
}

header {
    background-color: grey;
    text-align: center;
    position: relative;
}

.division {
    font-size: 12px;
    margin: 5px;
    text-align: center;
}

.cardback {
    margin-top: 5px;
    background-color: lightgray;
    padding: 10px;
}

div h6 {
    position:relative;
}

.hamburger {
    position: absolute;
    right: 5px;
    top: -1px;
}

.infoback {
    margin-top: 5px;
    background-color: lightgrey;
    padding: 5px;
    outline: 1px solid grey;
}

/* -----------INFO TABLES-------------*/

table {
    margin: 5px auto;
    display: block;
    /* background-color: yellow; */
}

th, td {
    border: 1px solid grey;
}

/* -----------ACTIVE-------------*/

.active header {
    background-color: orange;
}

.active .cardback {
    background-color: rgb(255, 255, 255);
    outline: 1px solid orange;
}

.active .infoback {
    background-color: lightpink;
    outline: 1px solid orange;
}