
/* ------------------------------*/

.therapy_container {
    margin: 0px auto;
    display: block;
    width: 90%;
    padding: 5px;
    /* outline: 1px dashed blue; */
}

h6, p {
    text-align: center;
    text-underline-offset: 2px;
}

header {
    background-color: grey;
    border: 1 px solid black;
    text-align: center;
}

.division {
    font-size: 12px;
    margin: 5px;
    text-align: center;
}

.cardback {
    margin-top: 5px;
    background-color: lightgray;
    padding: 5px;
}

.infoback {
    margin-top: 5px;
    background-color: lightgrey;
    padding: 5px;
    outline: 1px solid grey;
}

/* -----------INFO TABLES-------------*/

table {
    margin: 5px auto;
    display: block;
    /* background-color: yellow; */
}

th, td {
    border: 1px solid grey;
}

/* -----------ACTIVE-------------*/

.active header {
    background-color: orange;
}

.active .cardback {
    background-color: rgb(255, 255, 255);
    outline: 1px solid orange;
}

.active .infoback {
    background-color: lightpink;
    outline: 1px solid orange;
}